<div class="m-4">
    <h1><%= t('.user') %></h1>

    <!-- 検索窓 -->
    <%= search_form_for @q do |f| %>
        <%= f.search_field :name_cont %>
        <%= f.submit '検索' %>
    <% end %><br>

    <!-- 検索結果 -->
    <% if @users.present? %>
        <% @user.each do |user| %>
            <table>
                <tbody>
                    <tr>
                        <td class="width_1"><%= user.name %></td>
                        <td>
                            <% if user.avatar.attached? %>
                                <%= image_tag user.avatar,size: '50x50' %>
                            <% else %>
                                <%= image_tag "noimage.jpeg",size: '50x50' %>
                            <% end %>
                        </td>
                        <td><%= link_to t('views.common.show'), user %></td>
                    </tr>
                </tbody>
            </table><br>
        <% end %>
    <% end %>

    <%= paginate @users %>
</div>
