<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= @user.name %>
</p>

<p>
    <strong><%= User.human_attribute_name(:avatar) %>:</strong>
    <% if @user.avatar.attached? %>
        <br>
        <%= image_tag @user.avatar,size: '80x80' %>
    <% end %>
</p>

<%= t('.followings_count') %>
<%= link_to @user.followings.count, followings_user_path(@user.id) %>
<%= t('.followers_count') %>
<%= link_to @user.followers.count, followers_user_path(@user.id) %><br><br>

<% unless current_user == @user %>
    <% if current_user.following?(@user) %>
        <%= link_to t('.unfollow'), user_follows_path(@user.id), method: :delete %>
    <% else %>
        <%= link_to t('.follow'), user_follows_path(@user.id), method: :post %>
    <% end %>
<% end %>

<% if current_user == @user %>
<%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>