<div id="<%= dom_id fishlist %>">
  <p>
    <strong>Date:</strong>
    <%= fishlist.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= fishlist.time %>
  </p>

  <p>
    <strong>Prefecture:</strong>
    <%= fishlist.prefecture %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= fishlist.place %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= fishlist.map %>
  </p>

  <p>
    <strong>Fishname:</strong>
    <%= fishlist.fishname %>
  </p>

  <p>
    <strong>Fishlength:</strong>
    <%= fishlist.fishlength %>
  </p>

  <p>
    <strong>Fishweight:</strong>
    <%= fishlist.fishweight %>
  </p>

  <p>
    <strong>Fishingmethod:</strong>
    <%= fishlist.fishingmethod %>
  </p>

  <p>
    <strong>Fishimg:</strong>
    <%= fishlist.fishimg %>
  </p>

</div>
