<div id="<%= dom_id fishlist %>">
  <p>
    <strong><%= t('views.common.date') %></strong>
    <%= fishlist.date %>
  </p>

  <p>
    <strong><%= t('views.common.time') %></strong>
    <%= fishlist.time.strftime("%X") %>
  </p>

  <p>
    <strong><%= t('views.common.prefecture') %></strong>
    <%= fishlist.prefecture.name %>
  </p>

  <p>
    <strong><%= t('views.common.place') %></strong>
    <%= fishlist.place %>
  </p>

  <p>
    <strong><%= t('views.common.map') %></strong>
    <%= fishlist.map %>
  </p>

  <p>
    <strong><%= t('views.common.fishname') %></strong>
    <%= fishlist.fishname %>
  </p>

  <p>
    <strong><%= t('views.common.fishlength') %></strong>
    <%= fishlist.fishlength %>
  </p>

  <p>
    <strong><%= t('views.common.fishweight') %></strong>
    <%= fishlist.fishweight %>
  </p>

  <p>
    <strong><%= t('views.common.fishingmethod') %></strong>
    <%= fishlist.fishingmethod %>
  </p>

  <p>
    <strong><%= t('views.common.fishimg') %></strong>
    <% if fishlist.fishimg.attached? %>
      <% fishlist.fishimg.each do |img| %>
        <%= image_tag img,size: '200x200' %>
      <% end %>
    <% end %>
  </p>

</div>
