<%= form_with(model: fishlist) do |form| %>
  <% if fishlist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fishlist.errors.count, "error") %> prohibited this fishlist from being saved:</h2>

      <ul>
        <% fishlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('views.common.date'), style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label t('views.common.time'), style: "display: block" %>
    <%= form.time_field :time %>
  </div>

  <div>
    <%= form.label t('views.common.prefecture'), style: "display: block" %>
    <%= form.text_area :prefecture %>
  </div>

  <div>
    <%= form.label t('views.common.place'), style: "display: block" %>
    <%= form.text_field :place %>
  </div>

  <div>
    <%= form.label t('views.common.map'), style: "display: block" %>
    <%= form.text_field :map %>
  </div>

  <div>
    <%= form.label t('views.common.fishname'), style: "display: block" %>
    <%= form.text_field :fishname %>
  </div>

  <div>
    <%= form.label t('views.common.fishlength'), style: "display: block" %>
    <%= form.number_field :fishlength %>
  </div>

  <div>
    <%= form.label t('views.common.fishweight'), style: "display: block" %>
    <%= form.number_field :fishweight %>
  </div>

  <div>
    <%= form.label t('views.common.fishingmethod'), style: "display: block" %>
    <%= form.text_field :fishingmethod %>
  </div>

  <div>
    <%= form.label t('views.common.fishimg'), style: "display: block" %>
    <%= form.text_field :fishimg %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
