<%= form_with(model: fishlist) do |form| %>
  <% if fishlist.errors.any? %>
    <div style="color: red">
      <h2>保存できませんでした</h2>

      <ul>
        <% fishlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <strong><%= form.label t('views.common.date'), style: "display: block" %></strong>
    <%= form.date_field :date %>
  </div>

  <div>
    <strong><%= form.label t('views.common.time'), style: "display: block" %></strong>
    <%= form.time_field :time %>
  </div>

  <div>
    <strong><%= form.label t('views.common.prefecture'), style: "display: block" %></strong>
    <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name) %>
  </div>

  <div>
    <strong><%= form.label t('views.common.place'), style: "display: block" %></strong>
    <%= form.text_field :place %>
  </div>

  <div>
    <strong><%= form.label t('views.common.fishname'), style: "display: block" %></strong>
    <%= form.text_field :fishname %>
  </div>

  <div>
    <strong><%= form.label t('views.common.fishlength'), style: "display: block" %></strong>
    <%= form.number_field :fishlength %> cm
  </div>

  <div>
    <strong><%= form.label t('views.common.fishweight'), style: "display: block" %></strong>
    <%= form.number_field :fishweight %> g
  </div>

  <div>
    <strong><%= form.label t('views.common.fishingmethod'), style: "display: block" %></strong>
    <%= form.text_field :fishingmethod %>
  </div>

  <div>
      <% if fishlist.fishimg.attached? %>
      削除する画像にチェックボックスを付けてください<br>
          <% fishlist.fishimg.each do |img| %>
                <%= form.check_box :img_ids, {:multiple => true}, img.id, false %>
                <%= image_tag img,size: '50x50' %>
              <% end %><br>
          <% end %>
      <div style="color: red">最大６枚までアップできます<br></div>
      <%= form.file_field :fishimg, multiple: true %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
