<%= link_to t('views.common.new'), new_fishlist_path %>
<h1><%= t('views.common.newpost') %></h1>

<div id="fishlists" class="mx-3">
  <% @fishlists.each do |fishlist| %>

  <p>
    <strong><%= t('views.common.creater') %></strong>
    <%= link_to fishlist.user.name, user_path(fishlist.user.id) %>
  </p>

  <p>
    <strong><%= t('views.common.date') %></strong>
    <%= fishlist.date %>
  </p>

  <p>
    <strong><%= t('views.common.prefecture') %></strong>
    <%= fishlist.prefecture.name %>
  </p>

  <p>
    <strong><%= t('views.common.place') %></strong>
    <%= fishlist.place %>
  </p>

  <p>
    <strong><%= t('views.common.fishname') %></strong>
    <%= fishlist.fishname %>
  </p>

  <p>
    <strong><%= t('views.common.fishingmethod') %></strong>
    <%= fishlist.fishingmethod %>
  </p>

  <p>
    <% if fishlist.fishimg.attached? %>
      <% fishlist.fishimg.each do |img| %>
        <%= image_tag img,size: '100x100' %>
      <% end %>
    <% end %>
  </p>

  <p>
      <%= link_to t('views.common.show'), fishlist %>
    </p>
  <% end %>

  <%= paginate @fishlists %>
</div>
