<p style="color: green"><%= notice %></p>

<%= render @fishlist %>

<div>
  <%= link_to t('views.common.edit'), edit_fishlist_path(@fishlist) %> |
  <%= link_to t('views.common.back'), fishlists_path %>

  <%= button_to t('views.common.destroy'), @fishlist, method: :delete %>
</div>
