<div class="m-4">
    <h1>お問合せ</h1>
    <%= form_with(model: @contact, local: true) do |f| %>
        <%= f.label :name, "お名前：　　　　" %>
        <%= f.text_field :name %><br>
        <%= f.label :email, "メールアドレス：" %>
        <%= f.email_field :email, autocomplete: "email" %><br>
        <%= f.label :content, "内容：　　　　　" %>
        <%= f.text_area :content %><br>
        <%= f.submit "送信" %>
    <% end %>
</div>