<!DOCTYPE html>
<html>
  <head>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <title>Tsurizao</title>
        <% if user_signed_in? %>
      <ul>
        <strong><%= current_user.name %></strong> でログイン中です
        <li>
          <%= link_to t('views.common.mypage'), user_path(current_user) %>
        </li>
        <li>
          <%= link_to t('views.common.allfishes'), fishlists_path %>
        </li>
        <li>
          <%= link_to t('views.common.new'), new_fishlist_path %>
        </li>
        <li>
          <%= link_to t('users.index.user'), users_path %>
        </li>
        <li>
          <%= link_to t('views.common.contact'), new_contacts_path %>
        </li>
        </ul>
      <ul>
        <li>
          <%= link_to t('devise.registrations.edit.title'), edit_user_registration_path %>
        </li>
        <li>
          <%= link_to t('views.common.sign_out'), destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    <% end %>
  </div>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
      <div class="notice green" ><%= notice %></div>
      <div class="alert red" ><%= alert %></div>
    <%= yield %>
  </body>
</html>
